/* Reset básico */
.page-body {
    background-color: #1c1917; /* Stone 900: Fondo general */
    color: #fafaf9; /* Stone 50: Texto principal */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Maquetación Flexbox del Header */
.header-container {
    background-color: #292524; /* Stone 800 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo-text {
    color: #f97316; /* Orange 500: Acento visual */
    margin: 0;
}

.nav-menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-link {
    color: #d6d3d1; /* Stone 300 */
    text-decoration: none;
}
.btn-outline {
    background-color: transparent;
    color: #f97316;
    border: 2px solid #f97316;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}
/* Contenedor principal */
.main-content {
    padding: 50px;
}

/* Layout invertido con Flexbox */
.hero-section {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-image-box {
    flex: 1; /* Toma la mitad del espacio */
    margin: 0;
}

.hero-img {
    width: 100%;
    border-radius: 8px;
}

.hero-text-box {
    flex: 1; /* Toma la otra mitad del espacio */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}